.langSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: var(--color-darktheme-base-white);
}

.langSettings:hover {
  color: var(--color-darktheme-primary);
}

.langSettings_active {
  color: var(--color-darktheme-primary);
}

.langSettings__text {
  font: var(--body-m-semibold)
}

.langSettings__globe {
  width: 18px;
  height: 18px;
}

.langSettings__arrow svg {
  margin: 0 0 3px 3px;
  transition: transform 0.3s ease;
}

.langSettings_active svg {
  transform: rotate(-180deg);
}

.langSettings__dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 78px;
  height: fit-content;
  top: 48px;
  right: 157px;
  background-color: var(--color-darktheme-gray-scale-gray-3);
  border: var(--border-gray-2);
  border-radius: 8px;
  padding: 16px 20px;
}

.langSettings__enter {
  opacity: var(--header-dropdown-enter-opacity);
  transform: var(--header-dropdown-enter-scale-Y) var(--header-dropdown-enter-scale-X);
  transform-origin: var(--header-dropdown-transform-origin-narrow);
}

.langSettings__enter_active {
  opacity: var(--header-dropdown-enter-active-opacity);
  transform: var(--header-dropdown-enter-active-scale-Y) var(--header-dropdown-enter-active-scale-X);
  transition: var(--header-dropdown-enter-active-transition-opacity), var(--header-dropdown-enter-active-transition-transform);
  transform-origin: var(--header-dropdown-transform-origin-narrow);
}

.langSettings__exit {
  opacity: var(--header-dropdown-exit-opacity);
}

.langSettings__exit_active {
  opacity: var(--header-dropdown-exit-active-opacity);
  transition: var(--header-dropdown-exit-active-transition-opacity), var(--header-dropdown-exit-active-transition-transform);
}

@media screen and (max-width: 1100px) {
  .langSettings__dropdown {
    right: 231px;
  }
}

@media screen and (max-width: 600px) {
  .langSettings__dropdown {
    right: 61px;
  }
}