.burgerNav {
  display: none;
}

.burgerNav__dropDown {
  background-color: var(--color-darktheme-base-black);
  padding: 42px 40px;
  height: calc(100vh - 90px);
  width: 100%;
  display: flex;
  position: fixed;
  top: 80px;
  left: 0;
  overflow-y: auto;
}

.burgerNav__button {
  height: 38px;
  cursor: pointer;
  padding: 10px !important;
}

.burgerNav__enter {
  opacity: var(--header-dropdown-enter-opacity);
  transform: var(--header-dropdown-enter-scale-Y);
  transform-origin: var(--header-dropdown-transform-origin-narrow);
}

.burgerNav__enter_active {
  opacity: var(--header-dropdown-enter-active-opacity);
  transform: var(--header-dropdown-enter-active-scale-Y);
  transition: var(--header-dropdown-enter-active-transition-opacity), var(--header-dropdown-enter-active-transition-transform);
  transform-origin: var(--header-dropdown-transform-origin-narrow);
}

.burgerNav_exit {
  opacity: var(--header-dropdown-exit-opacity);
  transform: var(--header-dropdown-enter-active-scale-Y);
  transform-origin: var(--header-dropdown-transform-origin-narrow);
}

.burgerNav__exit_active {
  opacity: var(--header-dropdown-exit-active-opacity);
  transform: var(--header-dropdown-enter-scale-Y);
  transition: var(--header-dropdown-enter-active-transition-opacity), var(--header-dropdown-enter-active-transition-transform);
  transform-origin: var(--header-dropdown-transform-origin-narrow);
}

@media screen and (max-width: 1100px) {
  .burgerNav {
    display: block;
  }
}

@media screen and (min-width: 1100px) {
  .burgerNav__dropDown {
    display: none;
  }
}