.introduction {
  color: var(--color-darktheme-base-white);
  width: 519px;
  height: fit-content;
  z-index: var(--index-standart);
}

.introduction__description {
  font: var(--body-m-medium);
  margin-top: 20px;
}

.introduction__button {
  margin-top: 42px;
}

@media screen and (max-width: 1250px) {
  .introduction__header {
    font: var(--header-h2-semibold);
  }
}