.introduction {
  color: var(--color-darktheme-base-white);
  width: 519px;
  height: fit-content;
}

.introduction__description {
  font: var(--body-m-medium);
  margin-top: 20px;
}

.introduction__button {
  margin-top: 42px;
}