.header__navigation {
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.header__navigation a {
  color: var(--color-darktheme-base-white);
  font: var(--body-m-semibold);
}

.header__navigation a:hover {
  color: var(--color-darktheme-primary-light);
}