.presentation {
  height: fit-content;
  width: 741px;
}

.presentation__background {
  border-radius: 24px;
  background: linear-gradient(60deg, rgb(148, 28, 242), rgb(28, 178, 242), rgb(55, 65, 81), rgba(55, 65, 81, 0.6), rgb(148, 28, 242), rgba(55, 65, 81, 0.85), rgb(28, 178, 242), rgb(148, 28, 242)) 0 0 / 300% 300%;
  animation: 6s ease 0s infinite alternate none running irregular-sliding;
}

.presentation__wrapper {
  padding: 1px;
}

@keyframes irregular-sliding {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 50%;
  }
}
