.presentation {
  position: relative;
  height: fit-content;
  width: fit-content;
  max-width: 741px;
}

.presentation__background {
  border-radius: 24px;
  background: linear-gradient(60deg, rgb(148, 28, 242), rgb(28, 178, 242), rgb(55, 65, 81), rgba(55, 65, 81, 0.6), rgb(148, 28, 242), rgba(55, 65, 81, 0.85), rgb(28, 178, 242), rgb(148, 28, 242)) 0 0 / 300% 300%;
  animation: 6s ease 0s infinite alternate none running irregular-sliding;
}

.presentation__wrapper {
  padding: 1px;
  z-index: var(--index-standart);
}

.presentation__lights {
  display: flex;
  position: absolute;
  width: 1424px;
  height: 831px;
  left: -100%;
  top: -20%;
}

.presentation__lights svg {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 10%;
  top: 0;
  right: 0;
  bottom: 0;
}

@keyframes irregular-sliding {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media screen and (max-width: var(--fullscreen-breakPoint)) {
  .presentation__lights {
    width: 1224px;
  }
  .presentation__lights svg {
    left: 20%;
    top: -10%;
  }
}

@media screen and (max-width: var(--laptop-breakPoint)) {
  .presentation__lights {
    width: 924px;
  }
  .presentation__lights svg {
    left: 35%;
    top: -20%;
  }
}

@media screen and (max-width: var(--tablet-breakPoint)) {
  .presentation__lights {
    display: none;
  }
}
