
.link {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 310px;
  padding: 14px;
  border-radius: 10px;
}

.link:hover {
  background-color: var(--color-darktheme-gray-scale-gray-2);
}

.link__image {
  height: 36px;
  width: 36px;
}

.link__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link__header {
  color: var(--color-darktheme-base-white);
  font: var(--body-m-semibold)
}

.link__description {
  color: var(--color-darktheme-base-white);
  font: var(--body-xs-regular)
}