@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


#root {
  --font-family-text: 'IBM Plex Sans', 'sans-serif';
  font-family: var(--font-family-text);

  background-color: var(--color-darktheme-base-black);

  // Desktop headlines

  --font-headline-line-height-h1: 60px;
  --font-headline-line-height-h2: 44px;
  --font-headline-line-height-h3: 40px;
  --font-headline-line-height-h4: 34px;
  --font-headline-line-height-h5: 30px;
  --font-headline-line-height-h6: 24px;

  --font-headline-font-size-h1: 46px;
  --font-headline-font-size-h2: 34px;
  --font-headline-font-size-h3: 30px;
  --font-headline-font-size-h4: 26px;
  --font-headline-font-size-h5: 22px;
  --font-headline-font-size-h6: 18px;

  --header-h1-bold: normal normal 700 var(--font-headline-font-size-h1)/var(--font-headline-line-height-h1) var(--font-family-text);
  --header-h2-semibold: normal normal 600 var(--font-headline-font-size-h2)/var(--font-headline-line-height-h2) var(--font-family-text);
  --header-h3-semibold: normal normal 600 var(--font-headline-font-size-h3)/var(--font-headline-line-height-h3) var(--font-family-text);
  --header-h4-semibold: normal normal 600 var(--font-headline-font-size-h4)/var(--font-headline-line-height-h4) var(--font-family-text);
  --header-h5-semibold: normal normal 600 var(--font-headline-font-size-h5)/var(--font-headline-line-height-h5) var(--font-family-text);
  --header-h6-semibold: normal normal 600 var(--font-headline-font-size-h6)/var(--font-headline-line-height-h6) var(--font-family-text);

  // Desktop text

  --font-line-height-xxl: 34px;
  --font-line-height-xl: 29px;
  --font-line-height-l: 24px;
  --font-line-height-m: 22px;
  --font-line-height-s: 18px;
  --font-line-height-xs: 16px;

  --font-size-xxl: 26px;
  --font-size-xl: 22px;
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xs: 12px;

  --body-xxl-semibold: normal normal 600 var(--font-size-xxl)/var(--font-line-height-xxl) var(--font-family-text);
  --body-xl-semibold: normal normal 600 var(--font-size-xl)/var(--font-line-height-xl) var(--font-family-text);
  --body-l-semibold: normal normal 600 var(--font-size-l)/var(--font-line-height-l) var(--font-family-text);
  --body-l-medium: normal normal 500 var(--font-size-l)/var(--font-line-height-l) var(--font-family-text);
  --body-l-medium-italic: italic normal 500 var(--font-size-l)/var(--font-line-height-l) var(--font-family-text);
  --body-m-semibold: normal normal 600 var(--font-size-m)/var(--font-line-height-m) var(--font-family-text);
  --body-m-medium: normal normal 500 var(--font-size-m)/var(--font-line-height-m) var(--font-family-text);
  --body-m-regular: normal normal 400 var(--font-size-m)/var(--font-line-height-m) var(--font-family-text);
  --body-s-medium: normal normal 500 var(--font-size-s)/var(--font-line-height-s) var(--font-family-text);
  --body-s-regular: normal normal 400 var(--font-size-s)/var(--font-line-height-s) var(--font-family-text);
  --body-xs-regular: normal normal 400 var(--font-size-xs)/var(--font-line-height-xs) var(--font-family-text);

  // Other

  --font-button-line-height-md: 24px;
  --font-button-line-height-sm: 20px;
  --font-input-line-height-md: 22px;
  --font-input-line-height-sm: 18px;

  --font-button-font-size-md: 18px;
  --font-button-font-size-sm: 15px;
  --font-input-font-size-md: 16px;
  --font-input-font-size-sm: 14px;

  --button-md: normal normal 500 var(--font-button-font-size-md)/var(--font-button-line-height-md) var(--font-family-text);
  --button-sm: normal normal 500 var(--font-button-font-size-sm)/var(--font-button-line-height-sm) var(--font-family-text);
  --input-md: normal normal 400 var(--font-input-font-size-md)/var(--font-input-line-height-md) var(--font-family-text);
  --input-sm: normal normal 400 var(--font-input-font-size-sm)/var(--font-input-line-height-sm) var(--font-family-text);

  // colors

  --color-darktheme-base-black: #0E0C15;
  --color-darktheme-base-white: #FFFFFF;

  --color-darktheme-primary: #1C64F2;
  --color-darktheme-primary-light: #4785FF;
  --color-darktheme-primary-strong: #073CA4;
  --color-darktheme-primary-strong-dowm: #0E3176;

  --color-darktheme-gray-scale-gray-1: #616D8D;
  --color-darktheme-gray-scale-gray-2: #313E62;
  --color-darktheme-gray-scale-gray-3: #222B44;
  --color-darktheme-gray-scale-gray-4: #121825;
  --color-darktheme-gray-scale-gray-5: #374151;
  --color-darktheme-gray-scale-gray-6: #9CA3AF;
  --color-darktheme-gray-scale-gray-7: #171E2F;

  // borders

  --border-gray-2: 1px solid var(--color-darktheme-gray-scale-gray-2);
  --border-gray-3: 1px solid var(--color-darktheme-gray-scale-gray-3);

  // shadows

  --button-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px 0 inset;

  // animations

  --header-dropdown-enter-opacity: 0;
  --header-dropdown-enter-active-opacity: 1;
  --header-dropdown-exit-opacity: 1;
  --header-dropdown-exit-active-opacity: 0;

  --header-dropdown-enter-scale-X: scaleX(0.1);
  --header-dropdown-enter-scale-Y: scaleY(0.1);
  --header-dropdown-enter-active-scale-X: scaleX(1);
  --header-dropdown-enter-active-scale-Y: scaleY(1);

  --header-dropdown-transform-origin-narrow: top;
  --header-dropdown-transform-origin-wide: top left;

  --header-dropdown-enter-active-transition-opacity: opacity 200ms ease;
  --header-dropdown-enter-active-transition-transform: transform 200ms ease;

  --header-dropdown-exit-active-transition-opacity: opacity 300ms ease;
  --header-dropdown-exit-active-transition-transform: transform 300ms ease;
}

h1 {
  font: var(--header-h1-bold);
}

h2 {
  font: var(--header-h2-semibold);
}

h3 {
  font: var(--header-h3-semibold);
}

h4 {
  font: var(--header-h4-semibold);
}

h5 {
  font: var(--header-h5-semibold);
}

h6 {
  font: var(--header-h6-semibold);
}