.products {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
  cursor: pointer;
  color: var(--color-darktheme-base-white);
  font: var(--body-m-semibold);
}

.products svg {
  margin-top: 2px;
  stroke: var(--color-darktheme-base-white);
  transition: transform 0.3s ease;
}

.products:hover {
  color: var(--color-darktheme-primary);
  stroke: var(--color-darktheme-primary);
}

.products_active {
  color: var(--color-darktheme-primary-light) !important;
}

.products_active svg {
  stroke: var(--color-darktheme-primary-light) !important;
  transform: rotate(-180deg);
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  gap: 12px 38px;
  width: 700px;
  height: fit-content;
  top: 55px;
  left: 146px;
  background-color: var(--color-darktheme-gray-scale-gray-3);
  padding: 20px;
  border: var(--border-gray-2);
  border-radius: 17px;
}

.products__enter {
  opacity: var(--header-dropdown-enter-opacity);
  transform: var(--header-dropdown-enter-scale-Y) var(--header-dropdown-enter-scale-X);
  transform-origin: var(--header-dropdown-transform-origin-wide);
}

.products__enter_active {
  opacity: var(--header-dropdown-enter-active-opacity);
  transform: var(--header-dropdown-enter-active-scale-Y) var(--header-dropdown-enter-active-scale-X);
  transition: var(--header-dropdown-enter-active-transition-opacity), var(--header-dropdown-enter-active-transition-transform);
  transform-origin: var(--header-dropdown-transform-origin-wide);
}

.products__exit {
  opacity: var(--header-dropdown-exit-opacity);
}

.products__exit_active {
  opacity: var(--header-dropdown-exit-active-opacity);
  transition: var(--header-dropdown-exit-active-transition-opacity), var(--header-dropdown-exit-active-transition-transform);
}

@media screen and (max-width: 1100px) {
  .products {
    display: flex;
    justify-content: space-between;
  }
}