.headerContainer__text {
  font-size: 16px;
  font-weight: 400;
}

.headerContainer__svgContainer {
  display: flex;
  align-items: center;
  height: fit-content;
}

.expand__title_arrow {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.expand__title_arrow svg {
  transition: transform 0.3s ease;
}

.rotated svg {
  transform: rotate(-180deg);
}