.burger {
  height: 38px;
  cursor: pointer;
  padding: 10px !important;
}

.burger__dropDown {
  background-color: var(--color-darktheme-base-black);
  padding: 42px 40px;
  height: 1000%;
  width: 100%;
  display: flex;
  position: fixed;
  top: 80px;
  left: 0;
}

.burger__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 38px;
}

.burger__list a {
  color: var(--color-darktheme-base-white);
  font: var(--body-m-semibold);
}

.burger__list a:hover {
  color: var(--color-darktheme-primary-light);
}

@media screen and (min-width: 1100px) {
  .burger__dropDown {
    display: none;
  }
}